body {
  background-color: #000;
  color: #fff;
  font-family: "Share Tech";
}

#display {
  text-align: left;
  margin: 50px;
  font-size: 1em;
  height: 500px;
  overflow-y: auto;
}

#container {
  height: 600px;
  overflow: hidden;
}
